.pr2 {
    color: #0f0;
}

.pr1-bg {
    background-color: #0099ff60;
}


.pr2-bg {
    background-color: #f3d2ed9c;
}

.pr3 {
    color: #e5fdfd;
}

.pr3-bg {
    background-color: #e5fdfd00;
}

.pr4 {
    color: #DDE6ED;
}

.pr4-bg {
    background-color: #DDE6ED;
}

.white {
    color: white;
}