.formChangePwd {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
        border: 1px solid #0099ff60;
        padding: 20px;
        border-radius: 10px;
        background-color: #2293df21;
        margin-right: 5px;

        label {
            font-size: 16px;
            font-weight: 450;

            padding-bottom: 10px;
        }

        input {
            margin-left: 20px;
            width: 250px;
        }

        input:active {
            margin-left: 20px;
            width: 250px;
            background-color: #2293df11;
        }

        input[type="submit"] {
            padding: 8px;
            margin-top: 5px;
            width: 120px;
            border: 1.5px solid black;
            border-radius: 10px;
            background-color: #0099ff60;
            color: #fdf9f9;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.05em;
            cursor: pointer;
        }
    }

}